body {color:  #FF2D2D;
 font-size: 27px;
 margin-left: 110px;
 background-color:#A6FFFF;
}
h1 {
color: black;
background-color:#00BB00;
 margin-left: 20px;
 font-size: 40px;
 }
h2{
color:#02DF82;
font-size:1
}

            
