body {color:#4F9D9D;
 font-size: 27px;
 margin-left: 110px;
 background-color::#BBFFBB;
 font-weight: bold;

}
h1 {
color: black;
background-color:#79FF79;
 margin-left: 20px;
 font-size: 40px;
 }
h2{
color:#408080;
font-size:25px;
}

            
